<h1>Add a new recipe</h1>
<form method="POST" action="/recipes">
    <ul>
        <li>
            <input type="text" name="name"/>
        </li>
        <li>
            <input type="text" name="ingredients"/>
            
        </li>
        <li>
            <input type="integer" name="cook_time"/>
        </li>
        </ul>
        <input type="submit" id="Submit"/>
</form>
