<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create A Recipe</title>
  </head>
  <body>
    <form action="/recipes" method="POST">
      <p><label>Name:</label><input type="text" name="name"></p>
      <p><label>Ingredients:</label><input type="text" name="ingredients"></p>
      <p><label>Cook Time:</label><input type="text" name="cook_time"></p>
      <input type="submit">
    </form>
  </body>
</html>
