<h2>Create Recipe</h2>
<form method="POST" action="/recipes">
    <div>
        <label>name</label>
        <input type="text" name="name" ></input>
    </div>
    <div>
        <label>ingredients</label>
        <input type="text" name="ingredients" ></input>
    </div>
    <div>
        <label>cook_time</label>
        <input type="text" name="cook_time" ></input>
    </div>
    <input type="submit"/>
</form>
