<html>
  <body>
    <h2> <%= @recipe.name %> </h2>
    <h2> <%= @recipe.ingredients %> </h2>
    <h2> <%= @recipe.cook_time %> </h2>
  </body>
</html>

 ## delete form below
 <form method = "POST" action = "/recipes/<%= @recipe.id %>">
<input type = "hidden" name = "_method" value="DELETE" />
  <label>Name</label>
    <input type = "text" name ="name" values = "#{@recipe.name}"/>
  <label>Ingredients</label>
     <input type = "text" name = "ingredients" values ="#{@recipe.ingredients}" />
  <label>Cook_time</label>
     <input type = "text" name = "cook_time" values = "#{@recipe.cook_time" />
     <input type ="submit" value = "delete">
</form>